@media only screen and (max-width: 1440px) {

   /* ***************  Video start   **************** */

    .video-banner{
      background-position: 100% -150px;
    }
  
}


@media only screen and (max-width: 1250px) {
  /* ************  Gallery start   ***************** */

  .popup-gallery {
    width: 1000px;
  }

  .popup-gallery .element {
    width: 1000px;
  }

}

@media only screen and (max-width: 1024px) {

  .header-info {
    padding-left: 30px;
  }

  .nav {
    width: 100%;
    margin: 0px;
  }

  .hamburger {
    display: block;
    z-index: 1000;
  }


  .logo-block {
    position: sticky;
  }

  .side-menu{
    display: none;
  }


  /* ************  Gallery start   ***************** */

  .popup-gallery {
    width: 800px;
    height:  940px;
  }

  .popup-gallery .element {
    width: 800px;
  }

  .popup-gallery .popup-block {
    height: 280px;
  }

  /* ***************** testimonial Start   **************** */

  .testimonial-box {
    padding-bottom: 20px;
  }

  .carousel-inner {
    height: 300px;
  }


  /* ***************  Video start   **************** */

  .video-banner{
    height: 400px;
    background-position: 100% -100px;
  }
  
}

@media only screen and (max-width: 990px) {

  .header-title {
    font-size: 40px;
  }

  /* *********  Testimonial  *********** */

  .testimonial-box .swiper-container {
    height: 320px;
  }

  .testimonial-box{
    padding: 20px;
  }

  

  /* ***********  Contact us  ************* */

  .contact-inner-container{
    padding: 50px 30px;
  }

  .contact .title {
    font-size: 28px;
    font-weight: 600;
    color: var(--title-color);
    font-family: "Playfair Display", serif;
  }
}


@media only screen and (max-width: 850px) {
  /* ************  Gallery start   ***************** */
  .popup-gallery {
    width: 700px;
  }

  .popup-gallery .element {
    width: 700px;
  }


  /* ***************  Video start   **************** */

  .video-banner{
    height: 350px;
    background-position: 100% 0px;
  }

  .video-banner h1{
    font-size: 50px;
  }

}

/* *************  For Navbar ***************** */

@media only screen and (max-width: 768px) {

  .logo {
    max-width: 80px;
  }

  /* *******************  Schedule start  *********************** */

  .schedule .container{
      flex-direction: column;
  }

  .schedule .container p{
    text-align: center;
     padding-bottom: 5px;
  }

  /* *******  testimonial start  ******** */

  .testimonial-box .swiper-container {
    height: 380px;
  }

  /* ************  Gallery start   ***************** */
  .popup-gallery {
    width: 550px;
    height: 1820px;
  }

  .popup-gallery .element {
    width: 550px;
    height: 180px;
  }

  /* ************* Requirements  *************** */

  .requirement .requirement-title {
    padding-bottom: 20px;
    font-size: 32px;
  }

  .requirement .requirement-para {
    font-size: 14px;
  }

  /* **********************   Contact start   ********************** */

  .contact-flex {
    padding: 50px 0;
    display: block;
    height: auto;
  }

  .contact-flex .contact-left {
    width: 100%;
  }

  .contact-inner-container {
    padding-top: 0;
    text-align: center;
  }

  .contact-block .contact-content-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .contact-block .contact-content-container .contact-content {
    padding-left: 0;
    width: 90%;
  }

  .contact-block .contact-content-container i {
    width: 10%;
    font-size: 20px;
  }

  .contact-block .contact-content-container .contact-content p {
    max-width: 100%;
  }

  .contact .footer-social {
    display: none;
  }

  .contact-flex .contact-right {
    width: 95%;
    margin: auto;
  }

  form {
    padding: 30px;
  }

  .form-button {
    text-align: center;
  }

  .footer-social {
    margin: 0 auto;
    max-width: 60%;
  }

  footer .col-12 {
    padding-bottom: 20px;
    text-align: center;
  }

  footer .para {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 90%;
  }
}

@media only screen and (max-width: 600px) {

    .nav{
      height: 10vh;
    }

    .header-title {
      font-size: 35px;
    }

    header {
      margin-top: 10vh;
      height: 90vh;
    }

    header .slider-content h1 {
      font-size: 35px;
    }
    
    header .slider-content h2 {
      font-size: 20px;
    }
    

    /* ************* Requirements  *************** */

    .requirement .requirement-title {
      font-size: 28px;
    }
  
    .requirement .requirement-para {
      font-size: 12px;
    }


    /* ************  Gallery start   ***************** */
    .popup-gallery {
      width: 450px;
    }

    .popup-gallery .element {
      width: 450px;
    }

    /* ***************  Video start   **************** */

    .video-banner{
      margin-top: 10vh;
      height: 300px;
    }

    .video-banner h1{
      font-size: 40px;
    }
}

@media only screen and (max-width: 500px) {

  .logo{
    width: 80px;
  }

  .nav .nav-call a {
    font-size: 12px;
  }

  .nav-media-container .social-icon-container {
    max-width: 150px;
  }

  .nav-media-container {
    padding: 0 20px;
  }

  .nav-call .icon {
    width: 14px;
  }

  .nav-call a {
    font-size: 13px;
  }

  .nav-media-container .social-icon-block {
    width: 25px;
    height: 25px;
    background: transparent;
  }

  .nav-media-container .social-icon-block .icon {
    width: 60%;
  }

  /* ************  Gallery start   ***************** */
  .popup-gallery {
    width: 350px;
  }

  .popup-gallery .element {
    width: 350px;
  }

  /* ***************** testimonial  **************** */

  .testimonial-box .swiper-container {
    height: 480px;
  }

  /* **********************   Contact start   ********************** */

  .contact-inner-container {
    padding: 20px;
  }

  .contact .title {
    font-size: 30px;
  }

  .contact-flex .contact-right {
    width: 95%;
  }

  form {
    padding: 30px 10px;
  }

  .footer-bottom .copyright {
    font-size: 10px;
  }



  /* ****************  Video page  ****************** */

  .video-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }

}

@media only screen and (max-width: 400px) {
  
  header .slider-content h1 {
    font-size: 30px;
  }
  
  header .slider-content h2 {
    font-size: 18px;
  }
  
  header .slider-content .button-container {
    display: flex;
    flex-direction: column;
  }
  
  header .button {
    margin: 10px auto;
    width: 200px;
    padding: 10px 20px;
    font-size: 12px;
  }

  /* ***************** testimonial  **************** */
  .carousel-inner {
    height: 550px;
  }


   /* ************  Gallery start   ***************** */
   .popup-gallery {
    width: 320px;
  }

  .popup-gallery .element {
    width: 320px;
  }
}



@media only screen and (max-width: 360px) {
  
   /* ************  Gallery start   ***************** */
   .popup-gallery {
    width: 280px;
  }

  .popup-gallery .element {
    width: 280px;
  }
}